<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration and Login System</title>
<link rel="stylesheet" type="text/css" href="register_style.css">
<!-- Bootstrap credit: https://codepen.io/samnorton/pen/oNYajYM?hubs_content=blog.hubspot.com%252Fwebsite%252Fbootstrap-form-template&hubs_content-cta=registration%2520forms -->
<style>
	
		.form-body {
   background-color:  #2D2D2F;

}
	
	.form-holder {
    text-align: center;
     background-color:  #2D2D2F;
}

	.form-content {
    text-align: center;
     background-color:  #4A306D;
}

	.title {
    text-align: center;
   color:white;
}

	</style>


</head>
<body>
	<div class="form-body">
		<div class="row">
			<div class="form-holder">
				<div class="form-content">
					<div class="form-items">
						<h3>Register Tonight</h3>
						<p>Fill in the data below to begin your journey to better
							sleep.</p>

						<form method="post" role="form" th:action="@{/register}"
							th:object="${user}">



							<div class="col-md-12">
								<input class="form-control" type="email" name="email"
									style="width: 350px;" placeholder="E-mail Address" th:field="*{email}" required>

								<div class="invalid-feedback" id="alert" th:if="${EmailError}">
									<p th:text="${EmailError}">
								</div>

							</div>



							<div class="col-md-12">
								<input class="form-control" type="password" name="password"
									style="width: 350px;" placeholder="Password" th:field="*{password}" required>
							</div>




							<div class="form-check">
								<input class="form-check-input" type="checkbox" value=""
									id="invalidCheck" required> <label
									class="form-check-label">I confirm that all data is
									correct</label>
							</div>

							<div class="form-button mt-3">
								<button id="submit" type="submit" class="btn btn-primary">Register</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
